<!-- Footer -->
<footer>


    <hr>
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                                <img style="width: 300px;" src="{{ "/img/logos/UAMweb.png " | prepend: site.baseurl }}" alt="">
                        </li>			
                        <li>
                            <img style="width: 250px;" src="{{ "/img/logos/DeustoTech.png " | prepend: site.baseurl }}" alt="">
                        </li>	

                    </ul>
                </div>
            </div>
        </div>
</footer>

