<section>
	<h2>FEM in MATLAB</h2>
			<section>
				<h3>Create a model object</h3>
				<a href="https://es.mathworks.com/help/pde/ug/createpde.html#d117e42133">createpde</a> 
			</section>
			<section>
				<h3>Geometry Definition and Meshing</h3>
				<ul>
					<li><a href="https://es.mathworks.com/help/pde/ug/pde.pdemodel.importgeometry.html">importGeometry</a></li>
					<li><a href="">geometryFromMesh</a></li>
					<li><a href="">geometryFromEdges</a></li>
				</ul>
				$$ \text{ } \\ $$
			</section>

			<section>
				<h3>PDE Definition</h3>
				<ul>
					<li><a href="https://es.mathworks.com/help/pde/ug/pde.pdemodel.applyboundarycondition.html">applyBoundaryCondition</a></li>
					<li><a href="https://es.mathworks.com/help/pde/ug/pde.pdemodel.specifycoefficients.html">specifyCoefficients</a></li>
				</ul>
			</section>
			<section>
				<h3>FEM Matrices</h3>
				<li>
					<ul><a href="https://es.mathworks.com/help/pde/ug/assemblefematrices.html"></a></ul>
					$$ 
						d(u,x,y) u_t - \nabla .()
					$$
				</li>
			</section>
	</section>
</section>
